<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="35" android:compileSdkVersionCodename="15" android:sharedUserId="android.uid.system" package="com.wssyncmldm" platformBuildVersionCode="35" platformBuildVersionName="15">
    <permission android:name="com.samsung.android.app.fotaagent.permission.READ_DATABASES" android:protectionLevel="signatureOrSystem"/>
    <permission android:name="com.idm.fotaagent.permission.PROVIDER" android:protectionLevel="signatureOrSystem"/>
    <uses-permission android:name="com.sec.android.fotaclient.permission.FOTA"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.BATTERY_STATS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.samsung.permission.LAUNCH_SOFTWARE_UPDATE"/>
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS"/>
    <uses-permission android:name="android.permission.REBOOT"/>
    <uses-permission android:name="android.permission.ACCESS_CACHE_FILESYSTEM"/>
    <uses-permission android:name="android.permission.DELETE_CACHE_FILES"/>
    <uses-permission android:name="android.permission.CRYPT_KEEPER"/>
    <uses-permission android:name="android.permission.RECOVERY"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="com.sec.android.diagmonagent.permission.DIAGMON"/>
    <uses-permission android:name="com.sec.android.diagmonagent.permission.PROVIDER"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="com.samsung.android.settings.permission.ACCESS_EPISODE"/>
    <uses-permission android:name="com.sec.enterprise.knox.MDM_CONTENT_PROVIDER"/>
    <uses-permission android:name="android.permission.NOTIFY_PENDING_SYSTEM_UPDATE"/>
    <uses-permission android:name="com.samsung.android.security.permission.SAMSUNG_KEYSTORE_PERMISSION"/>
    <uses-permission android:name="com.sec.android.app.setupwizardlegalprovider.GETDOCUMENT"/>
    <uses-permission android:name="com.samsung.android.app.updatecenter.provider.READ"/>
    <uses-permission android:name="com.samsung.android.app.updatecenter.provider.WRITE"/>
    <uses-permission android:name="com.samsung.android.app.pad.permission.READ_PROVIDER"/>
    <uses-permission android:name="com.samsung.android.app.pad.permission.WRITE_PROVIDER"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <permission android:name="com.wssyncmldm.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION" android:protectionLevel="signature"/>
    <uses-permission android:name="com.wssyncmldm.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <application android:allowBackup="false" android:allowClearUserData="false" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:extractNativeLibs="false" android:icon="@mipmap/ic_launcher" android:label="@string/STR_SWUPDATE_TITLE" android:name="com.idm.fotaagent.IDMApplication" android:networkSecurityConfig="@xml/network_security_config" android:supportsRtl="true" android:theme="@style/SESL.Theme" android:usesCleartextTraffic="true">
        <uses-library android:name="samsungkeystoreutils"/>
        <receiver android:exported="true" android:name="com.idm.fotaagent.receiver.GenericBroadcastReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.LOCALE_CHANGED"/>
                <action android:name="android.app.action.SYSTEM_UPDATE_POLICY_CHANGED"/>
                <action android:name="android.intent.action.SIM_STATE_CHANGED"/>
                <action android:name="com.sec.android.app.secsetupwizard.FOTA_SUW_COMPLETE"/>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
            <intent-filter android:priority="0">
                <action android:name="android.intent.action.TIME_SET"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="true" android:name="com.idm.fotaagent.receiver.SecureBroadcastReceiver" android:permission="com.sec.android.fotaclient.permission.FOTA">
            <intent-filter android:priority="1000">
                <action android:name="com.sec.android.app.secsetupwizard.SETUPWIZARD_COMPLETE"/>
                <action android:name="sec.fota.intent.MDM_REGISTER"/>
                <action android:name="sec.fota.intent.MDM_SU_CANCEL"/>
                <action android:name="sec.fota.action.SOFTWARE_UPDATE"/>
                <action android:name="com.samsung.intent.action.FIRSTNET_FORCE_UPDATE"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="true" android:name="com.idm.fotaagent.receiver.LaunchReceiver" android:permission="com.samsung.permission.LAUNCH_SOFTWARE_UPDATE">
            <intent-filter>
                <action android:name="com.samsung.intent.action.LAUNCH_SOFTWARE_UPDATE_NON_SYSTEM"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="true" android:name="com.idm.fotaagent.receiver.SecretCodeReceiver" android:permission="com.sec.android.fotaclient.permission.FOTA">
            <intent-filter>
                <action android:name="com.samsung.android.action.SECRET_CODE"/>
                <data android:host="8736364" android:scheme="android_secret_code"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.provider.Telephony.SECRET_CODE"/>
                <data android:host="8736364" android:scheme="android_secret_code"/>
            </intent-filter>
        </receiver>
        <service android:exported="false" android:name="com.idm.fotaagent.restapi.registration.context.SchedulableRegistration$RegistrationJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:exported="false" android:name="com.idm.fotaagent.restapi.restclient.push.message.fcm.FcmReceiveService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <receiver android:exported="true" android:name="com.idm.fotaagent.restapi.restclient.push.message.spp.SppReceiver" android:permission="com.sec.spp.permission.SEND">
            <intent-filter>
                <action android:name="2f233f9093de9dbc"/>
                <action android:name="com.sec.spp.ServiceDataDeletedAction"/>
            </intent-filter>
        </receiver>
        <receiver android:exported="false" android:name="com.idm.fotaagent.enabler.fumo.policy.afw.duration.PolicyExpirationReceiver"/>
        <receiver android:exported="false" android:name="com.idm.fotaagent.restapi.restclient.push.campaign.notification.CampaignNotificationReceiver"/>
        <receiver android:exported="false" android:name="com.idm.fotaagent.restapi.restclient.RestClientReceiver"/>
        <activity android:excludeFromRecents="true" android:exported="false" android:name="com.idm.fotaagent.restapi.restclient.push.campaign.ui.CampaignMessageActivity" android:taskAffinity="com.wssyncmldm.campaign" android:theme="@style/SESL.Theme.Dialog"/>
        <provider android:authorities="com.wssyncmldm.ContentProvider" android:exported="true" android:name="com.idm.fotaagent.database.sqlite.database.provider.IDMDatabaseContentProvider" android:readPermission="com.samsung.android.fota.permission.READ_DATABASES" android:writePermission="com.samsung.android.fota.permission.WRITE_DATABASES"/>
        <provider android:authorities="com.wssyncmldm.FotaEpisodeProvider" android:exported="true" android:name="com.idm.fotaagent.database.sqlite.database.settings.FotaEpisodeProvider" android:permission="com.samsung.android.settings.permission.ACCESS_EPISODE" android:syncable="false">
            <intent-filter>
                <action android:name="com.samsung.android.intent.action.SCENE"/>
            </intent-filter>
        </provider>
        <receiver android:exported="false" android:name="com.idm.fotaagent.enabler.ui.notification.manager.NotificationReceiver"/>
        <receiver android:exported="false" android:name="com.idm.fotaagent.enabler.ui.notification.manager.NotificationDismissReceiver"/>
        <receiver android:exported="false" android:name="com.idm.fotaagent.enabler.fumo.postpone.PostponeAlarmReceiver"/>
        <receiver android:exported="false" android:name="com.idm.fotaagent.enabler.ui.notification.manager.NotificationAlarmReceiver"/>
        <service android:exported="false" android:name="com.idm.fotaagent.scheduler.jobschedule.NetworkResumeJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:exported="false" android:name="com.idm.fotaagent.analytics.diagmon.jobschedule.DiagmonReportJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:exported="false" android:name="com.idm.fotaagent.enabler.fumo.expiration.SessionExpirationService$ForNotify" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:exported="false" android:name="com.idm.fotaagent.enabler.fumo.expiration.SessionExpirationService$ForCancel" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:exported="false" android:name="com.idm.fotaagent.InitExecutor$InitService"/>
        <service android:exported="false" android:name="com.idm.fotaagent.enabler.ui.notification.manager.StubNotificationTypeManagerService"/>
        <service android:exported="false" android:foregroundServiceType="dataSync|location" android:name="com.idm.fotaagent.enabler.ui.notification.manager.NotificationId$PrimaryNotificationService"/>
        <service android:exported="false" android:name="com.idm.fotaagent.enabler.ui.notification.manager.NotificationId$SecondaryNotificationService"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:excludeFromRecents="true" android:exported="true" android:name="com.idm.fotaagent.enabler.ui.userinit.UserInitEntryActivity" android:noHistory="true" android:permission="com.sec.android.fotaclient.permission.FOTA" android:theme="@style/Transparent">
            <intent-filter>
                <action android:name="com.wssyncmldm.UserInitEntryActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:excludeFromRecents="true" android:exported="false" android:name="com.idm.fotaagent.enabler.ui.dialog.IDMUIActivityForDialog" android:theme="@style/SESL.Theme.Dialog"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:excludeFromRecents="true" android:exported="false" android:name="com.idm.fotaagent.enabler.ui.reschedulepostpone.ReschedulePostponeActivity" android:taskAffinity="com.wssyncmldm.reschedule" android:theme="@style/SESL.Theme.Dialog"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:excludeFromRecents="true" android:exported="false" android:name="com.idm.fotaagent.enabler.ui.downloadconfirm.DownloadConfirmActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:excludeFromRecents="true" android:exported="false" android:name="com.idm.fotaagent.enabler.ui.downloadprogress.DownloadProgressActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:excludeFromRecents="true" android:exported="false" android:name="com.idm.fotaagent.enabler.ui.installconfirm.InstallConfirmActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:excludeFromRecents="true" android:exported="false" android:name="com.idm.fotaagent.enabler.ui.noupdatable.NoUpdatableVersionActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:excludeFromRecents="true" android:exported="true" android:name="com.idm.fotaagent.enabler.ui.lastupdate.LastUpdateActivity" android:taskAffinity="com.wssyncmldm.settings">
            <intent-filter>
                <action android:name="com.wssyncmldm.LastUpdateActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:excludeFromRecents="true" android:exported="false" android:name="com.idm.fotaagent.enabler.ui.checkingforupdate.CheckingForUpdateActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:excludeFromRecents="true" android:exported="false" android:name="com.idm.fotaagent.enabler.ui.maindescription.MainDescriptionActivity"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:exported="true" android:name="com.idm.fotaagent.enabler.ui.admin.main.AdminMainActivity" android:taskAffinity="com.wssyncmldm.admin"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:exported="true" android:name="com.idm.fotaagent.enabler.ui.admin.feature.AdminFeatureAndActionActivity" android:screenOrientation="portrait" android:taskAffinity="com.wssyncmldm.admin"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:exported="true" android:name="com.idm.fotaagent.enabler.ui.admin.profile.AdminProfileActivity" android:taskAffinity="com.wssyncmldm.admin"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:exported="true" android:name="com.idm.fotaagent.enabler.ui.admin.fmsfeature.FeatureInjectionActivity" android:taskAffinity="com.wssyncmldm.admin"/>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:excludeFromRecents="true" android:exported="false" android:name="com.idm.fotaagent.abupdate.abenabler.ui.downloadandinstallprogress.DownloadAndInstallProgressActivity"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <meta-data android:name="com.samsung.android.multiuser.disable_sub_user" android:value="true"/>
        <meta-data android:name="SamsungBasicInteraction" android:value="SEP10"/>
        <meta-data android:name="com.samsung.android.multidisplay.keep_process_alive" android:value="true"/>
        <meta-data android:name="com.samsung.android.keepalive.density" android:value="true"/>
        <meta-data android:name="firebase_messaging_auto_init_enabled" android:value="false"/>
        <meta-data android:name="firebase_analytics_collection_enabled" android:value="false"/>
        <meta-data android:name="theming-meta" android:value="meta_042_fota"/>
        <meta-data android:name="theming-meta-define1" android:resource="@xml/meta_042_fota"/>
        <receiver android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.messaging.FirebaseMessagingService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.auth.FirebaseAuthRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <activity android:excludeFromRecents="true" android:exported="true" android:launchMode="singleTask" android:name="com.google.firebase.auth.internal.GenericIdpActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="firebase.auth" android:path="/" android:scheme="genericidp"/>
            </intent-filter>
        </activity>
        <activity android:excludeFromRecents="true" android:exported="true" android:launchMode="singleTask" android:name="com.google.firebase.auth.internal.RecaptchaActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="firebase.auth" android:path="/" android:scheme="recaptcha"/>
            </intent-filter>
        </activity>
        <service android:enabled="true" android:exported="false" android:name="com.google.firebase.auth.api.fallback.service.FirebaseAuthFallbackService">
            <intent-filter>
                <action android:name="com.google.firebase.auth.api.gms.service.START"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery">
            <meta-data android:name="backend:com.google.android.datatransport.cct.CctBackendFactory" android:value="cct"/>
        </service>
        <provider android:authorities="com.wssyncmldm.firebaseinitprovider" android:directBootAware="true" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
        <provider android:authorities="com.wssyncmldm.androidx-startup" android:exported="false" android:name="androidx.startup.InitializationProvider">
            <meta-data android:name="androidx.emoji2.text.EmojiCompatInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.lifecycle.ProcessLifecycleInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.profileinstaller.ProfileInstallerInitializer" android:value="androidx.startup"/>
        </provider>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <uses-library android:name="androidx.window.extensions" android:required="false"/>
        <uses-library android:name="androidx.window.sidecar" android:required="false"/>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"/>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="androidx.profileinstaller.ProfileInstallReceiver" android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.INSTALL_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SKIP_FILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SAVE_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"/>
            </intent-filter>
        </receiver>
        <meta-data android:name="SPDE.build.signature" android:value="ed342a99e621ed8af9e9b72018e40c051fadd967/155209484/fotaagent-release/FotaAgent-400000-4.3.27"/>
        <meta-data android:name="SPDE.env.version" android:value="8.4.2/G35.1.16/1.1.17"/>
    </application>
</manifest>